%h1 Listing drinks

%table
  %thead
    %tr
      %th Name
      %th Origin
      %th Price
      %th Amount
      %th
      %th
      %th

  %tbody
    - @drinks.each do |drink|
      %tr
        %td= drink.name
        %td= drink.origin
        %td= drink.price
        %td= drink.amount
        %td= link_to 'Show', drink
        %td= link_to 'Edit', edit_drink_path(drink)
        %td= link_to 'Destroy', drink, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Drink', new_drink_path
