%p#notice= notice

%p
  %b Name:
  = @drink.name
%p
  %b Origin:
  = @drink.origin
%p
  %b Price:
  = @drink.price
%p
  %b Amount:
  = @drink.amount

= link_to 'Edit', edit_drink_path(@drink)
\|
= link_to 'Back', drinks_path
